<div class="task-container">
  <h1 class="task-container_title">Please choose task from the list below:</h1>
  <div id="math" class="task-container_element navigable" tabindex="0">
    <span>Math</span>
  </div>
  <div id="translation" class="task-container_element navigable" tabindex="1">
    <span>Translate</span>
  </div>
  <div id="audition" class="task-container_element navigable" tabindex="2">
    <span>Audition</span>
  </div>
  <div id="word" class="task-container_element navigable" tabindex="3">
    <span>Word construction</span>
  </div>
</div>
