.letter {
  display: inline-block;
  margin: 1% 3%;
  border: 1px solid black;
  box-sizing: border-box;
}

.selected {
  box-shadow: 0 0 10px #96b100;
}

.letter_value {
  padding: 0 0.5em;
  cursor: move;
}
